# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
/.dev-certs/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
next-env.d.ts
/dist/
/web-build/**/.vite/
/.wrangler/
/.sites-runtime/
/outputs/
/work/
/godot/.godot/
/godot/build/*
!/godot/build/.gdignore
/artifacts/godot-g0.1/
/artifacts/godot-g0.2/
/godot/assets/ships/player/kraken/Kraken_ship_player_30k_Baked_*.png
*.apk
*.aab
*.ipa
